demo application and websocket heartbeats

When using a demo-derived application (attach plugin+websocket), the terminal hangs soon or later if not used for a while -- typically, when you switch to another window or browser tab for a moment -- and the entire session freezes although the backend process seem to be still running.

I can imagine we would just reconnect to the backend process but the websocket does not indicate any status change (closed or whatever) so we don't really know if and when to do it.

A better solution would be to use some kind of heartbeat ping-pong. This is mentioned in [RFC6455, section 5.5](https://tools.ietf.org/html/rfc6455#section-5.5) but I think we still have to implement this on our own as even if the browser or client (xterm.js or attach addon) did it automatically, the server would have to support it too.

Not sure if there is any xterm.js specific solution but we should at least add it to demo app. I can only imagine changing the attach plugin to send objects with data + message type indicating whether it is real traffic or just a control message -- so that server can distinguish and reply instead of passing the message to the backend app.

I am using Chrome 63.0.3239.132 (Official Build) (64-bit) on Linux and have this kind of issues on various versions of xterm.js (would not say it is a bug of xterm.js itself).

Has anyone else encountered this kind of issue before? How is it handled in all the existing apps using xterm.js?

I don't use attach in VS Code, I think @parisk does though.

@ztmr this is indeed an issue with the attach add-on.

The issue with the proposed solution is that browsers cannot send ping/pong frames.

At some point I tried sending null byte characters to keep the socket open, but had no lack.

The way we are doing this at SourceLair right now is this:

1. Open WebSocket and attach to terminal
2. If the socket closes, then detach it from the terminal and check if the process is still running
3. If the process is still running, then create a new socket at the same endpoint and attach it to the terminal

We have tried sending "heartbeat" null bytes to keep the socket open, but did not work that well TBH.

I will move forward and close this issue, since there is pretty much nothing that we can do right now, but if any ideas come I will be happy to reopen the issue and consider an implementation. It would be awesome.

Hope this helps a bit.

JFYI, what have i done in my experiment is to wrap the entire communication into an object (encoded/decoded with JSON) and both client and server distinguished between objects with `body` property (containing data itself) and objects with property `frameType` set to `echoReq` or `echoResp`. This very simple experiment worked fine but as I said before -- it has to be supported on both ends. I think this is something we can add to the demo so that people know this has to be handled. I think sending data without encapsulation is not a good idea anyway, so even if simple protocol, there should be some wrapper packet IMHO.